<h1 class="text-3xl">Welcome to MiccoPoke</h1>
<main class="flex flex-col gap-5 mt-5">
    <div class="flex">
        <img src="./assets/images/eevee.png" class="w-28 lg:w-48 aspect-square">
        <img src="./assets/images/pikachu.png" class="w-28 lg:w-48 aspect-square">
    </div>
    <p>
        Welcome to MiccoPoke, your ultimate online encyclopedia dedicated to the captivating world of Pokémon!
        Dive into a vast treasure trove of information about these fascinating creatures, their habitats, trainers, and
        the
        expansive Pokémon universe.
    </p>
    <p>
        At MiccoPoke, we strive to be the go-to destination for Pokémon enthusiasts and trainers alike. Whether
        you're a seasoned Pokémon Master or just starting your journey as a Trainer, our comprehensive database provides
        a
        wealth of knowledge about every Pokémon species, from the classic first generation to the latest additions.
    </p>
    <p>
        Explore detailed profiles of each Pokémon, including their types, abilities, evolutions, and in-depth lore.
        Immerse
        yourself in captivating articles covering various aspects of the Pokémon world, from the history of legendary
        Pokémon to strategies for competitive battles.
    </p>
    <p>
        Our user-friendly interface ensures a seamless browsing experience, allowing you to easily navigate through the
        extensive content. Discover the latest Pokémon news, event updates, and exclusive insights into the Pokémon
        anime
        and video games.
    </p>
    <p>
        Join our vibrant community of Pokémon enthusiasts, where you can discuss your favorite Pokémon, share
        strategies,
        and connect with fellow Trainers. Whether you're looking for information on specific Pokémon or seeking tips for
        your next Pokémon adventure, MiccoPoke is your one-stop destination for all things Pokémon.
    </p>
    <p>
        Embark on a journey of discovery, knowledge, and fun as you explore the magical world of Pokémon with us at
        [Your
        Website Name]. Gotta catch 'em all, and learn 'em all, right here!
    </p>
</main>